
.navBox{
    margin: 0;
    padding:  11px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px;
    border-radius: 6px;
    list-style: none;
}
.navBoxItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    all: unset;
    font-weight: 500;
    font-size: 15px;
    color: rgb(87, 70, 175);
    padding: 8px 12px;
    margin: 0 3px;
    border-radius: 4px;
    cursor: pointer;
}
.navBoxItem:hover{
    background-color: rgb(245, 242, 255);
}
.active {
    box-shadow: rgb(196 184 243) 0px 0px 0px 2px;
}