.User_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userBox{
    display: flex;
}

.selected{
    font-weight: bold;
    cursor: pointer;
}
.item{
   cursor: pointer;
}

.pagination{
    display: flex;
    justify-content: center;
}
