.nav {
    grid-area: n;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    border-radius: 18px;
}

.item{
    padding: 3px;
    color: #000000;
    text-decoration: none;
}

.active{
    text-decoration: none;
    font-weight: bold;
    color: #00D7FE;
}
