.nav {
    grid-area: n;
    background-color: plum;
    padding: 15px;
}

.active{
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

.item{
    color: #fff;
    text-decoration: none;
}

