.content {
    display: flex;
    justify-content: right;
    height: 150px;
    padding: 30px;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1612099452850-ed8efe7d58ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

.profile{
    display: flex;
    align-items: center;
}

.profile h2{
    padding-right: 10px;
}

.profile img {
    width: 100px;
    border-radius: 50%;
}

.item {
    padding: 10px;
}



